# video files
gource.mp4

# orgs
org-config.conf
org-repos/

# macOS files
.DS_Store

# user avatars
avatars/

# usernames file
usernames.conf

# music files
*.mp3
*.wav
*.ogg
*.flac

# image files that are not inside the avatars directory
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.ico
*.webp
